body {
    background-color: #061401 ;
    background-size: 100%;
    touch-action: none;
    overflow: hidden;
    user-select: none;
}

*{
    margin: 0;
    padding: 0;
}

/* МОНЕТА ЛАПКА */
.imag {
    padding: 150px 150px;
    border: none;
    border-radius: 100%;
    margin: 230px 0px 0px 40px;
    position: absolute;
    background-image: url('coin.PNG');
    background-size: cover;
    background-color: #000;
}
.imag:active {
    transform: scale(0.99);
    opacity: 0.9;
}

/* МЕНЮ БУСТА */
.boostsmenu {
    position: absolute;
    margin: 10px 0px 0px 10px;
    height: 698px;
    width: 95%;
    background: rgba(58, 94, 61, 0.671);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.932);
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border:1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 30px;
    z-index: 1;
    display: none;
    animation-name: menu;
    animation-duration: 0.5s;
}
@keyframes menu {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}

/* МЕНЮ ПОКУПКИ */
.pokupmen {
    position: absolute;
    margin: 10px 0px 0px 10px;
    padding: 50px 50px;
    background-color: #000;
    display: none;
}

/* ТЕКСТ АВТОБОТ */
.textab {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 0px 0px 0px;
    font-size: 25px;
    position: absolute;
}

.textab span {
    position: absolute;
    font-size: 45px;
    margin: 30px ;
}

.smilebot {
    position: absolute;
    font-size: 40px;
    margin: 10px 0px 0px 15px;
}

.c {
    position: absolute;
    margin: 20px 0px 0px 15px;
    height: 40px;
    width: 40px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 30px;
}

.ctext {
    text-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    font-size: 30px;
    color: #061900;
    margin: 0px 0px 0px 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration-line: none;
}

/* БАЛАНС В BOOSTS */
.clicks1 {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 0px 0px 100px;
}

/* AUTOBOT, MULTITAP */
.menuam {
    margin: 20px 0px 0px 15px;
    height: 80px;
    width: 320px;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 32px 0 rgba(56, 56, 56, 0.37);
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 35px;
}

/* Меню с бустами клаим и инфо */
.menu {
    display: flex;
    position: absolute;
    margin: 600px 0px 0px 5px;
    height: 110px;
    width: 95%;
    background: rgba(151, 151, 151, 0.3);
    box-shadow: 0 8px 32px 0 rgba(71, 56, 12, 0.37);
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border:1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 40px;
    user-select: none;
}

/* БАЛАНС В КЛИКЕРЕ */
.click-cost {
    position: absolute;
    margin: 100px 0px 0px 45%;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.boosts {
    height: 110px;
    width: 110px;
    margin: 0px 0px 0px 4%;
}

.claim {
    height: 110px;
    width: 110px;
}

.info {
    height: 110px;
    width: 110px;
}

/*ТЕКСТ КЛАИМ*/
.textc {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 0px 0px 75px;
    font-size: 30px;
}

/* WhiteeHack */
.subswh {
    position: absolute;
    margin: 30px 0px 0px 15px;
    height: 90px;
    width: 320px;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 32px 0 rgba(56, 56, 56, 0.37);
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 40px;
}

.a {
    color: #fff;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 15px 0px 0px 85px;
    position: absolute;
}

.b {
    color: #64c574;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px 0px 0px 235px;
    position: absolute;
}

.ab {
    color: #cccccc;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 55px 0px 0px 122px;
    position: absolute;
}

/* МОНЕТА */
.imag2 {
    width: 30px;
    height: 30px;
    background-color: #000;
    border: none;
    border-radius: 100%;
    position: absolute;
    background-image: url('coin.PNG');
    background-size: cover;
    touch-action: manipulation;
    margin: 52px 0px 0px 85px;
}

/* WHITEEHACK IMAG3 */
.imag3 {
    width: 70px;
    height: 70px;
    background-color: #000;
    border: none;
    border-radius: 100%;
    position: absolute;
    background-image: url('whiteeoriginal.PNG');
    background-size: cover;
    touch-action: manipulation;
    margin: 10px 0px 0px 10px;
}

.tasks2 {
    position: absolute;
    margin: 140px 0px 0px 15px;
    height: 90px;
    width: 320px;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 32px 0 rgba(56, 56, 56, 0.37);
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 40px;
}

.podt {
    margin: 120px 0px 0px 5%;
    width: 90%;
    height: 420px;
    position: absolute;
    z-index: 9;
    background: rgba(25, 27, 25, 0.63);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.945);
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba(0, 255, 21, 0.18);
    border-radius: 40px;
    display: none;
    animation-name: menu;
    animation-duration: 0.5s;
}

.sub-podt {
    margin: 80px 0px 0px 30px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.sub-wh {
    margin: 20px 0px 0px 20%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5% 10%;
    border: none;
    border-radius: 10px;
    background-color: #061900;
    color: #64c574;
}

.sub-wh:hover {
    color: #061900;
    background-color: #64c574;
}

.prov-wh {
    z-index: 999999999999;
    margin: 20px 0px 0px 20%;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5%2%;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    color: #061900;
    background-color: #64c574;
    text-decoration-line: underline;
}

.prov-wh:hover {
    background-color: #061900;
    color: #64c574;
}

.cc {
    background-color: rgba(47, 255, 47, 0.356);
    position: absolute; 
    margin: 20px 20px;
    z-index: 99999999;
    position: absolute;
    margin: 20px 0px 0px 15px;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 30px;
}